.containerTableStyle {
  border-radius: 3.217px;
  background: rgba(243, 243, 243, 0.5);
  height: 415px;
  flex-shrink: 0;
}

.tableMainStyle {
  border-collapse: collapse;
  width: 100%;
}

.tableHeaderTextStyle {
  color: #040404;
  font-size: 12.062px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.theadStyle {
  background: #ededed;
  height: 56.51px;
}

.tableContentStyle {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
